* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*************** MOBILE VIEW*************** */
 /* HEADER-SECTION 1 */

 .header-1 {
    background-color: #000000;
    padding: 5px;
}

.icon {
    /* border: solid red; */
    padding: 10px;
    float: right;
    margin-top: 10px;
}
.icon i {
    color: white;
    font-size: 18px;
    margin-right: 20px;
}
/* NAVIGATION BAR */
#active{
    background-color: grey;
    
}

.menu-container {
    /* border: solid blue; */
    padding: 10px;
    box-shadow: 5px 5px 15px grey;
    background-color: transparent;
}
.menu-container .nav-bar {
    list-style-type: none;
    display: inline-flex;
}
.menu-container .nav-bar .lists {
    /* border: solid green;
    background-color: grey; */
    margin-right: 8px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}
.menu-container .nav-bar a{
    color: rgb(28, 28, 28);
}

/* BANNER WITH CALL TO ACTION */
.banner-container{
    /* border: solid red;   */
}

.banner-container .banner-img{
    width: 100%;
}


.call-to-action{
    color: white;
    text-align: center;
    /* border: solid red; */
    width:350px;
    margin: auto;
    position: relative; top:-300px ;
}
.call-to-action h1{
    text-shadow: 0px 0px 5px blue;
    font-family: 'Oswald', sans-serif; 
    font-size: 30px;
    border-bottom: 4px solid red;
   
  
}
.call-to-action .cta-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 900;
}
.call-to-action .learn-more{
    border: none;
    margin: 10px;
    padding: 10px;
    font-family: 'roboto', sans-serif; 
    font-size: 20px;
    background-color: rgb(241, 238, 25);
    box-shadow: 0px 0px 5px rgb(209, 209, 209) ;
    transition: ease-out 0.2s;
   
}




/*************** TABLET VIEW*************** */
@media only screen and (min-width:768px){

}
/* ========================================== */

/*************** DESKTOP VIEW*************** */
@media only screen and (min-width:1100px){
 /* HEADER-SECTION 1 */



.icon i {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}

.icon i:hover {
    color: #484848
}


/* ================= */



.menu-container {
    /* border: solid blue; */
    padding: 15px;
    box-shadow: 5px 5px 15px grey;
    background-color: transparent;
}

.menu-container .nav-bar {
    list-style-type: none;
    display: inline-flex;
}

.menu-container .nav-bar {
    /* border: solid red; */
}

.menu-container .nav-bar .lists {
    /* border: solid green;
    background-color: grey; */
    margin-right: 17px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
}

.menu-container .nav-bar a:hover{
    cursor: pointer;
    color: rgb(90, 90, 90);
}



/* ==================== */


/* BANNER WITH CALL TO ACTION */




.call-to-action{
    color: white;
    text-align: center;
    /* border: solid red; */
    width:350px;
    margin: auto;
    position: relative; top:-900px ;
}
.call-to-action h1{
    text-shadow: 0px 0px 5px blue;
    font-family: 'Oswald', sans-serif; 
    font-size: 45px;
    border-bottom: 4px solid red;
   
  
}
.call-to-action .cta-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.call-to-action .learn-more{
    border: none;
    margin: 10px;
    padding: 10px;
    font-family: 'roboto', sans-serif; 
    font-size: 22px;
    background-color: rgb(241, 238, 25);
    box-shadow: 0px 0px 5px rgb(209, 209, 209) ;
    transition: ease-out 0.2s;
   
}
.call-to-action .learn-more:hover{
    cursor: pointer;
    background-color: rgb(164, 162, 3);
    color: white;
    box-shadow: 0px 0px 10px rgb(209, 209, 209) ;
    transition: ease-in 0.2s;
}

/* =============== */
}
/* ==========